# Firebase
firebase-debug.log
firestore-debug.log

# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
build/
dist/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
*.swp
*~
.DS_Store
