
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isUserInCompany(companyId) {
      return exists(/databases/$(database)/documents/companies/$(companyId)/users/$(request.auth.uid)) ||
             exists(/databases/$(database)/documents/companies/$(companyId)/students/$(request.auth.uid));
    }
    
    function getUserData(companyId, userId) {
      let userData = get(/databases/$(database)/documents/companies/$(companyId)/users/$(userId));
      if (!userData.data.size() > 0) {
        return get(/databases/$(database)/documents/companies/$(companyId)/students/$(userId));
      }
      return userData;
    }

    function hasPermission(permission) {
      let userDoc = getUserData(request.resource.data.companyId, request.auth.uid);
      return request.auth.uid != null && permission in userDoc.data.permissions;
    }

    // COMPANY DATA
    // Allow any signed-in user to read their own company's data.
    match /companies/{companyId} {
      allow read: if isSignedIn() && isUserInCompany(companyId);
      allow write: if hasPermission('Super User'); // Only Super Users can edit company details directly.
    }

    // USER & STUDENT DATA
    // This rule allows a user to find their own document across all companies upon login.
    match /{path=**}/users/{userId} {
      allow get: if isSignedIn() && request.auth.uid == userId;
    }
     match /{path=**}/students/{userId} {
      allow get: if isSignedIn() && request.auth.uid == userId;
    }

    // Once inside a company, these rules apply.
    match /companies/{companyId}/{document=**} {
        allow read, write: if isSignedIn() && isUserInCompany(companyId);
    }
  }
}
